In [87]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from scripts.load_data import load_data_from_postgres, load_data_using_sqlalchemy

%matplotlib inline

In [88]:
query = 'SELECT * FROM xdr_data'
df = load_data_using_sqlalchemy(query)

df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,7.349883e+18,4/23/2019 13:56,642.0,4/25/2019 2:06,53.0,130220.0,2.082003e+14,3.368112e+10,3.572961e+13,T10006B,...,21500768.0,12101768.0,12226975.0,16511157.0,340225685.0,6951608.0,483022848.0,13524725.0,50864502.0,388912579.0
1,1.311448e+19,4/23/2019 14:00,501.0,4/24/2019 23:17,453.0,119804.0,2.082014e+14,3.369966e+10,3.561431e+13,T92938B,...,7277265.0,14808877.0,5404356.0,17848389.0,281827903.0,3255023.0,746150700.0,1475289.0,38549811.0,305633791.0
2,1.311448e+19,4/23/2019 14:00,507.0,4/24/2019 23:17,453.0,119781.0,2.082014e+14,3.369966e+10,3.561431e+13,T92938B,...,10232699.0,8551438.0,8528398.0,19632728.0,73444975.0,8167950.0,787793727.0,10773216.0,49161715.0,105009018.0
3,1.311448e+19,4/23/2019 14:00,744.0,4/25/2019 0:24,330.0,123787.0,2.082017e+14,3.362404e+10,8.629340e+13,D21059A,...,15007252.0,16673992.0,14089357.0,6924105.0,174894914.0,41507.0,345556220.0,837674.0,28422142.0,209975300.0
4,1.311448e+19,4/23/2019 14:01,369.0,4/25/2019 4:13,905.0,137523.0,2.082017e+14,3.366612e+10,3.538111e+13,D42243B,...,9633967.0,17836471.0,22432445.0,11400.0,623985913.0,10539036.0,706817241.0,11317378.0,43951635.0,661274286.0

In [89]:
# Convert the Start ms and the End ms columns to datetime columns
df["Start"] = pd.to_datetime(df["Start"]) + pd.to_timedelta(df["Start ms"], unit='ms')
df["End"] = pd.to_datetime(df["End"]) + pd.to_timedelta(df["End ms"], unit='ms')

df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,7.349883e+18,2019-04-23 13:56:00.642,642.0,2019-04-25 02:06:00.053,53.0,130220.0,2.082003e+14,3.368112e+10,3.572961e+13,T10006B,...,21500768.0,12101768.0,12226975.0,16511157.0,340225685.0,6951608.0,483022848.0,13524725.0,50864502.0,388912579.0
1,1.311448e+19,2019-04-23 14:00:00.501,501.0,2019-04-24 23:17:00.453,453.0,119804.0,2.082014e+14,3.369966e+10,3.561431e+13,T92938B,...,7277265.0,14808877.0,5404356.0,17848389.0,281827903.0,3255023.0,746150700.0,1475289.0,38549811.0,305633791.0
2,1.311448e+19,2019-04-23 14:00:00.507,507.0,2019-04-24 23:17:00.453,453.0,119781.0,2.082014e+14,3.369966e+10,3.561431e+13,T92938B,...,10232699.0,8551438.0,8528398.0,19632728.0,73444975.0,8167950.0,787793727.0,10773216.0,49161715.0,105009018.0
3,1.311448e+19,2019-04-23 14:00:00.744,744.0,2019-04-25 00:24:00.330,330.0,123787.0,2.082017e+14,3.362404e+10,8.629340e+13,D21059A,...,15007252.0,16673992.0,14089357.0,6924105.0,174894914.0,41507.0,345556220.0,837674.0,28422142.0,209975300.0
4,1.311448e+19,2019-04-23 14:01:00.369,369.0,2019-04-25 04:13:00.905,905.0,137523.0,2.082017e+14,3.366612e+10,3.538111e+13,D42243B,...,9633967.0,17836471.0,22432445.0,11400.0,623985913.0,10539036.0,706817241.0,11317378.0,43951635.0,661274286.0

In [90]:
df.drop(labels=["Start ms", "End ms", "Dur. (ms)"], inplace=True, axis=1)
df.head()

,Bearer Id,Start,End,IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,7.349883e+18,2019-04-23 13:56:00.642,2019-04-25 02:06:00.053,2.082003e+14,3.368112e+10,3.572961e+13,T10006B,34.0,1.0,86.0,...,21500768.0,12101768.0,12226975.0,16511157.0,340225685.0,6951608.0,483022848.0,13524725.0,50864502.0,388912579.0
1,1.311448e+19,2019-04-23 14:00:00.501,2019-04-24 23:17:00.453,2.082014e+14,3.369966e+10,3.561431e+13,T92938B,45.0,4.0,10.0,...,7277265.0,14808877.0,5404356.0,17848389.0,281827903.0,3255023.0,746150700.0,1475289.0,38549811.0,305633791.0
2,1.311448e+19,2019-04-23 14:00:00.507,2019-04-24 23:17:00.453,2.082014e+14,3.369966e+10,3.561431e+13,T92938B,47.0,4.0,41.0,...,10232699.0,8551438.0,8528398.0,19632728.0,73444975.0,8167950.0,787793727.0,10773216.0,49161715.0,105009018.0
3,1.311448e+19,2019-04-23 14:00:00.744,2019-04-25 00:24:00.330,2.082017e+14,3.362404e+10,8.629340e+13,D21059A,33.0,5.0,48.0,...,15007252.0,16673992.0,14089357.0,6924105.0,174894914.0,41507.0,345556220.0,837674.0,28422142.0,209975300.0
4,1.311448e+19,2019-04-23 14:01:00.369,2019-04-25 04:13:00.905,2.082017e+14,3.366612e+10,3.538111e+13,D42243B,27.0,5.0,54.0,...,9633967.0,17836471.0,22432445.0,11400.0,623985913.0,10539036.0,706817241.0,11317378.0,43951635.0,661274286.0

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 52 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start                                     150000 non-null  datetime64[ns]
 2   End                                       150000 non-null  datetime64[ns]
 3   IMSI                                      149431 non-null  float64
 4   MSISDN/Number                             148935 non-null  float64
 5   IMEI                                      149429 non-null  float64
 6   Last Location Name                        148848 non-null  object
 7   Avg RTT DL (ms)                           122172 non-null  float64
 8   Avg RTT UL (ms)                           122189 non-null  float64
 9   Avg Bearer TP DL (kbps)                   150000 non-null  float64
 10  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 11  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 12  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 13  DL TP < 50 Kbps (%)                       149247 non-null  float64
 14  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 15  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 16  DL TP > 1 Mbps (%)                        149247 non-null  float64
 17  UL TP < 10 Kbps (%)                       149209 non-null  float64
 18  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 19  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 20  UL TP > 300 Kbps (%)                      149209 non-null  float64
 21  HTTP DL (Bytes)                           68527 non-null   float64
 22  HTTP UL (Bytes)                           68191 non-null   float64
 23  Activity Duration DL (ms)                 150000 non-null  float64
 24  Activity Duration UL (ms)                 150000 non-null  float64
 25  Dur. (ms).1                               150000 non-null  float64
 26  Handset Manufacturer                      149429 non-null  object
 27  Handset Type                              149429 non-null  object
 28  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 29  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 30  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 31  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 32  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 33  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 34  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 35  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 36  Social Media DL (Bytes)                   150001 non-null  float64
 37  Social Media UL (Bytes)                   150001 non-null  float64
 38  Google DL (Bytes)                         150001 non-null  float64
 39  Google UL (Bytes)                         150001 non-null  float64
 40  Email DL (Bytes)                          150001 non-null  float64
 41  Email UL (Bytes)                          150001 non-null  float64
 42  Youtube DL (Bytes)                        150001 non-null  float64
 43  Youtube UL (Bytes)                        150001 non-null  float64
 44  Netflix DL (Bytes)                        150001 non-null  float64
 45  Netflix UL (Bytes)                        150001 non-null  float64
 46  Gaming DL (Bytes)                         150001 non-null  float64
 47  Gaming UL (Bytes)                         150001 non-null  float64
 48  Other DL (Bytes)                          150001 non-null  float64
 49  Other UL (Bytes)                          150001 non-null  float64
 50  Total UL (Bytes)                          150000 non-null  float64
 51  Total DL (Bytes)                          150000 non-null  float64
dtypes: datetime64[ns](2), float64(47), object(3)
memory usage: 59.5+ MB

In [92]:
df.fillna({"Bearer Id": "unknown"}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 52 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 150001 non-null  object
 1   Start                                     150000 non-null  datetime64[ns]
 2   End                                       150000 non-null  datetime64[ns]
 3   IMSI                                      149431 non-null  float64
 4   MSISDN/Number                             148935 non-null  float64
 5   IMEI                                      149429 non-null  float64
 6   Last Location Name                        148848 non-null  object
 7   Avg RTT DL (ms)                           122172 non-null  float64
 8   Avg RTT UL (ms)                           122189 non-null  float64
 9   Avg Bearer TP DL (kbps)                   150000 non-null  float64
 10  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 11  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 12  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 13  DL TP < 50 Kbps (%)                       149247 non-null  float64
 14  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 15  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 16  DL TP > 1 Mbps (%)                        149247 non-null  float64
 17  UL TP < 10 Kbps (%)                       149209 non-null  float64
 18  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 19  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 20  UL TP > 300 Kbps (%)                      149209 non-null  float64
 21  HTTP DL (Bytes)                           68527 non-null   float64
 22  HTTP UL (Bytes)                           68191 non-null   float64
 23  Activity Duration DL (ms)                 150000 non-null  float64
 24  Activity Duration UL (ms)                 150000 non-null  float64
 25  Dur. (ms).1                               150000 non-null  float64
 26  Handset Manufacturer                      149429 non-null  object
 27  Handset Type                              149429 non-null  object
 28  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 29  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 30  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 31  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 32  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 33  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 34  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 35  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 36  Social Media DL (Bytes)                   150001 non-null  float64
 37  Social Media UL (Bytes)                   150001 non-null  float64
 38  Google DL (Bytes)                         150001 non-null  float64
 39  Google UL (Bytes)                         150001 non-null  float64
 40  Email DL (Bytes)                          150001 non-null  float64
 41  Email UL (Bytes)                          150001 non-null  float64
 42  Youtube DL (Bytes)                        150001 non-null  float64
 43  Youtube UL (Bytes)                        150001 non-null  float64
 44  Netflix DL (Bytes)                        150001 non-null  float64
 45  Netflix UL (Bytes)                        150001 non-null  float64
 46  Gaming DL (Bytes)                         150001 non-null  float64
 47  Gaming UL (Bytes)                         150001 non-null  float64
 48  Other DL (Bytes)                          150001 non-null  float64
 49  Other UL (Bytes)                          150001 non-null  float64
 50  Total UL (Bytes)                          150000 non-null  float64
 51  Total DL (Bytes)                          150000 non-null  float64
dtypes: datetime64[ns](2), float64(46), object(4)
memory usage: 59.5+ MB

In [93]:
df.fillna({"Last Location Name": "Not Available"}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 52 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 150001 non-null  object
 1   Start                                     150000 non-null  datetime64[ns]
 2   End                                       150000 non-null  datetime64[ns]
 3   IMSI                                      149431 non-null  float64
 4   MSISDN/Number                             148935 non-null  float64
 5   IMEI                                      149429 non-null  float64
 6   Last Location Name                        150001 non-null  object
 7   Avg RTT DL (ms)                           122172 non-null  float64
 8   Avg RTT UL (ms)                           122189 non-null  float64
 9   Avg Bearer TP DL (kbps)                   150000 non-null  float64
 10  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 11  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 12  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 13  DL TP < 50 Kbps (%)                       149247 non-null  float64
 14  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 15  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 16  DL TP > 1 Mbps (%)                        149247 non-null  float64
 17  UL TP < 10 Kbps (%)                       149209 non-null  float64
 18  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 19  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 20  UL TP > 300 Kbps (%)                      149209 non-null  float64
 21  HTTP DL (Bytes)                           68527 non-null   float64
 22  HTTP UL (Bytes)                           68191 non-null   float64
 23  Activity Duration DL (ms)                 150000 non-null  float64
 24  Activity Duration UL (ms)                 150000 non-null  float64
 25  Dur. (ms).1                               150000 non-null  float64
 26  Handset Manufacturer                      149429 non-null  object
 27  Handset Type                              149429 non-null  object
 28  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 29  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 30  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 31  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 32  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 33  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 34  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 35  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 36  Social Media DL (Bytes)                   150001 non-null  float64
 37  Social Media UL (Bytes)                   150001 non-null  float64
 38  Google DL (Bytes)                         150001 non-null  float64
 39  Google UL (Bytes)                         150001 non-null  float64
 40  Email DL (Bytes)                          150001 non-null  float64
 41  Email UL (Bytes)                          150001 non-null  float64
 42  Youtube DL (Bytes)                        150001 non-null  float64
 43  Youtube UL (Bytes)                        150001 non-null  float64
 44  Netflix DL (Bytes)                        150001 non-null  float64
 45  Netflix UL (Bytes)                        150001 non-null  float64
 46  Gaming DL (Bytes)                         150001 non-null  float64
 47  Gaming UL (Bytes)                         150001 non-null  float64
 48  Other DL (Bytes)                          150001 non-null  float64
 49  Other UL (Bytes)                          150001 non-null  float64
 50  Total UL (Bytes)                          150000 non-null  float64
 51  Total DL (Bytes)                          150000 non-null  float64
dtypes: datetime64[ns](2), float64(46), object(4)
memory usage: 59.5+ MB

In [94]:
exclude = ['IMSI', 'MSISDN/Number', 'IMEI', 'Bearer Id', 'Handset Manufacturer', 'Handset Type', 'Last Location Name']
cols_to_fill = df.columns.difference(exclude)

for col in cols_to_fill:
    try:
        df.fillna({col: df[col].mean()}, inplace=True)
    except (TypeError, ValueError) as e:
        print(col)

for col in exclude:
    try:
        df.fillna({col: "Not Available"}, inplace=True)
    except (TypeError, ValueError) as e:
        print(col)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 52 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 150001 non-null  object
 1   Start                                     150001 non-null  datetime64[ns]
 2   End                                       150001 non-null  datetime64[ns]
 3   IMSI                                      150001 non-null  object
 4   MSISDN/Number                             150001 non-null  object
 5   IMEI                                      150001 non-null  object
 6   Last Location Name                        150001 non-null  object
 7   Avg RTT DL (ms)                           150001 non-null  float64
 8   Avg RTT UL (ms)                           150001 non-null  float64
 9   Avg Bearer TP DL (kbps)                   150001 non-null  float64
 10  Avg Bearer TP UL (kbps)                   150001 non-null  float64
 11  TCP DL Retrans. Vol (Bytes)               150001 non-null  float64
 12  TCP UL Retrans. Vol (Bytes)               150001 non-null  float64
 13  DL TP < 50 Kbps (%)                       150001 non-null  float64
 14  50 Kbps < DL TP < 250 Kbps (%)            150001 non-null  float64
 15  250 Kbps < DL TP < 1 Mbps (%)             150001 non-null  float64
 16  DL TP > 1 Mbps (%)                        150001 non-null  float64
 17  UL TP < 10 Kbps (%)                       150001 non-null  float64
 18  10 Kbps < UL TP < 50 Kbps (%)             150001 non-null  float64
 19  50 Kbps < UL TP < 300 Kbps (%)            150001 non-null  float64
 20  UL TP > 300 Kbps (%)                      150001 non-null  float64
 21  HTTP DL (Bytes)                           150001 non-null  float64
 22  HTTP UL (Bytes)                           150001 non-null  float64
 23  Activity Duration DL (ms)                 150001 non-null  float64
 24  Activity Duration UL (ms)                 150001 non-null  float64
 25  Dur. (ms).1                               150001 non-null  float64
 26  Handset Manufacturer                      150001 non-null  object
 27  Handset Type                              150001 non-null  object
 28  Nb of sec with 125000B < Vol DL           150001 non-null  float64
 29  Nb of sec with 1250B < Vol UL < 6250B     150001 non-null  float64
 30  Nb of sec with 31250B < Vol DL < 125000B  150001 non-null  float64
 31  Nb of sec with 37500B < Vol UL            150001 non-null  float64
 32  Nb of sec with 6250B < Vol DL < 31250B    150001 non-null  float64
 33  Nb of sec with 6250B < Vol UL < 37500B    150001 non-null  float64
 34  Nb of sec with Vol DL < 6250B             150001 non-null  float64
 35  Nb of sec with Vol UL < 1250B             150001 non-null  float64
 36  Social Media DL (Bytes)                   150001 non-null  float64
 37  Social Media UL (Bytes)                   150001 non-null  float64
 38  Google DL (Bytes)                         150001 non-null  float64
 39  Google UL (Bytes)                         150001 non-null  float64
 40  Email DL (Bytes)                          150001 non-null  float64
 41  Email UL (Bytes)                          150001 non-null  float64
 42  Youtube DL (Bytes)                        150001 non-null  float64
 43  Youtube UL (Bytes)                        150001 non-null  float64
 44  Netflix DL (Bytes)                        150001 non-null  float64
 45  Netflix UL (Bytes)                        150001 non-null  float64
 46  Gaming DL (Bytes)                         150001 non-null  float64
 47  Gaming UL (Bytes)                         150001 non-null  float64
 48  Other DL (Bytes)                          150001 non-null  float64
 49  Other UL (Bytes)                          150001 non-null  float64
 50  Total UL (Bytes)                          150001 non-null  float64
 51  Total DL (Bytes)                          150001 non-null  float64
dtypes: datetime64[ns](2), float64(43), object(7)
memory usage: 59.5+ MB

In [95]:
df.head()

,Bearer Id,Start,End,IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,7349883244930119680.0,2019-04-23 13:56:00.642,2019-04-25 02:06:00.053,208200311343234.0,33681123273.0,35729609033280.0,T10006B,34.0,1.0,86.0,...,21500768.0,12101768.0,12226975.0,16511157.0,340225685.0,6951608.0,483022848.0,13524725.0,50864502.0,388912579.0
1,13114483547131699200.0,2019-04-23 14:00:00.501,2019-04-24 23:17:00.453,208201402739176.0,33699657228.0,35614309440872.0,T92938B,45.0,4.0,10.0,...,7277265.0,14808877.0,5404356.0,17848389.0,281827903.0,3255023.0,746150700.0,1475289.0,38549811.0,305633791.0
2,13114483547133300736.0,2019-04-23 14:00:00.507,2019-04-24 23:17:00.453,208201402739176.0,33699657228.0,35614309440872.0,T92938B,47.0,4.0,41.0,...,10232699.0,8551438.0,8528398.0,19632728.0,73444975.0,8167950.0,787793727.0,10773216.0,49161715.0,105009018.0
3,13114483547134099456.0,2019-04-23 14:00:00.744,2019-04-25 00:24:00.330,208201716645001.0,33624040258.0,86293404678353.0,D21059A,33.0,5.0,48.0,...,15007252.0,16673992.0,14089357.0,6924105.0,174894914.0,41507.0,345556220.0,837674.0,28422142.0,209975300.0
4,13114483547136899072.0,2019-04-23 14:01:00.369,2019-04-25 04:13:00.905,208201716666194.0,33666115833.0,35381108218264.0,D42243B,27.0,5.0,54.0,...,9633967.0,17836471.0,22432445.0,11400.0,623985913.0,10539036.0,706817241.0,11317378.0,43951635.0,661274286.0